# Binari (eseguibili di progetto)
spacegl_server
spacegl_client
spacegl_3dview
spacegl_viewer
spacegl_vulkan
spacegl_hud
spacegl_diag

# Directory di build
build/

# Directory di spacegl
captain

# Altri file temporanei
*.o
*.d
*.tar.gz
*.sha256
*.spv
*.key
identity.hash

# Directory di sistema RPM
rpmbuild/
_local_build/
_srpm_test/

# File specifici da ignorare
Niklaus.md
galaxy.dat
spacegl_new_revision.sh
spacegl_new_release.sh
